<!-- Content Header (Page header) -->

<div class="host">
  <div >
    <app-title title="Electrification rurale"></app-title>
    <!-- right column -->
    <form (ngSubmit)="submit(myForm)" [formGroup]="myForm">
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <div style="margin-bottom: 20px;">
              <h5>Informations</h5>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Province</mat-label>
              <mat-select formControlName="idProvince">
                <mat-option *ngFor="let e of provinces | async" [value]="e.id">{{ e.libelle }}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>NBR DE LOGEMENT</mat-label>
              <input matInput type="number" formControlName="nbrLogement" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>NBR DE VILLAGES</mat-label>
              <input matInput type="number" formControlName="nbrVillage" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>TAUX ELECTRIFICATION</mat-label>
              <input matInput type="number" formControlName="tauxElectrification" required>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </mat-card>

          <div class="actions">
            <button style="margin-top: 20px;"
            [disabled]="myForm.invalid " mat-raised-button
            color="primary" type="submit">
            Enregister
          </button>

          <button style="margin-top: 20px; margin-right: 20px;" [routerLink]="['/admin/electricite/electrification-rural/list']" mat-raised-button type="button">
          Retout
        </button>
        </div>
        </div>

      </div>
    </form>
  </div>
</div>
