<!-- <app-header [userName]="currentUser"></app-header> -->
<!-- <app-menu></app-menu>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer> -->

<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-button (click)="snav.toggle()" routerLinkActive="active">
      <mat-icon>menu</mat-icon>
    </button>
    <p>Suivi des activités des DR/DP</p>
    <span class="example-spacer"></span>
    <!-- <p>Profil : {{session.getUser.profil.label}}</p> -->

    <!-- <p>&nbsp;||&nbsp;direction : {{session.getUser.organisme.label}}</p> -->
    <button mat-button [matMenuTriggerFor]="beforeMenu">{{session.getUser.nom}}
      {{session.getUser.prenom}} (<b>{{displayName()}} </b>)</button><br>

    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <!-- <button mat-menu-item [routerLink]="['/admin/compte']">Info Compte</button> -->
      <button mat-menu-item (click)="disconnect()">Se déconnecter</button>
    </mat-menu>

  </mat-toolbar-row>



</mat-toolbar>
<!-- <button mat-button (click)="snav.toggle()" routerLinkActive="active">
    <mat-icon>menu</mat-icon>
  </button>
  <p>Système de suivi des recommandations</p>
  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="beforeMenu">{{session.getUser.nom}}</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item [routerLink]="['/admin/compte']">Compte</button>
    <button mat-menu-item (click)="disconnect()">Déconnecter</button>
  </mat-menu> -->

<mat-sidenav-container #sidenav class="example-sidenav-container" style=" z-index: 9;">
  <mat-sidenav #snav [mode]="(!mobileQuery.matches) ? 'side' : 'over'" [opened]="opened && !mobileQuery.matches"
    [fixedInViewport]="true" fixedTopGap="50">
    <mat-nav-list class="list" style="width: 220px; padding: 0;">
      <div class="logo">
        <img src="../assets/logo_ministere.png" alt="marit logo" width="210" style="z-index: -1;">
      </div>
      <mat-divider></mat-divider>
      <mat-list-item [routerLink]="['/admin/home']" routerLinkActive="router-link-active">
        <mat-icon>home</mat-icon>&nbsp;<span>Accueil</span>
      </mat-list-item>
      <mat-accordion>

        <mat-expansion-panel *ngIf="session.isAdmin || session.isCentral || session.isPointFocal || (session.isMetier && session.isEnergie)" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Energie
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-divider></mat-divider>

          <mat-list-item [routerLink]="['/admin/electricite']" routerLinkActive="router-link-active">
            <mat-divider></mat-divider>
            <mat-icon>flash_on</mat-icon>&nbsp;<span>Electricité</span>
          </mat-list-item>

          <mat-list-item [routerLink]="['/admin/projet-enr']" routerLinkActive="router-link-active">
            <mat-divider></mat-divider>
            <mat-icon>toys</mat-icon>&nbsp;<span>Energies renouvelables</span>
          </mat-list-item>

          <mat-list-item [routerLink]="['/admin/organisme']" routerLinkActive="router-link-active">
            <mat-divider></mat-divider>
            <mat-icon>ev_station</mat-icon>&nbsp;<span>Combustibles</span>
          </mat-list-item>

        </mat-expansion-panel>
        <!-- expanded -->

        <mat-expansion-panel *ngIf="session.isAdmin || session.isCentral || session.isPointFocal || (session.isMetier && session.isMine)" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Mines
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <mat-list-item [routerLink]="['/admin/electrificationRural']" routerLinkActive="router-link-active">
            <mat-icon>flash_on</mat-icon>&nbsp;<span>Electrification rurale</span>
          </mat-list-item> -->
        </mat-expansion-panel>


        <mat-expansion-panel *ngIf="session.isAdmin || session.isCentral || session.isPointFocal || (session.isMetier && session.isGeologie)" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Géologie
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <mat-list-item [routerLink]="['/admin/electrificationRural']" routerLinkActive="router-link-active">
            <mat-icon>flash_on</mat-icon>&nbsp;<span>Electrification rurale</span>
          </mat-list-item> -->
        </mat-expansion-panel>


        <mat-expansion-panel *ngIf="session.isAdmin || session.isCentral || session.isPointFocal || (session.isMetier && session.isControle)" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Contrôle
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!-- <mat-list-item [routerLink]="['/admin/electrificationRural']" routerLinkActive="router-link-active">
            <mat-icon>flash_on</mat-icon>&nbsp;<span>Electrification rurale</span>
          </mat-list-item> -->
        </mat-expansion-panel>


        <mat-expansion-panel *ngIf="session.isAdmin" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Sécurité
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item [routerLink]="['/admin/user']" routerLinkActive="router-link-active">
            <mat-icon>group</mat-icon>&nbsp;<span>Utilisateur</span>
          </mat-list-item>
          <!-- <mat-list-item [routerLink]="['/admin/permission']" routerLinkActive="router-link-active">
            <mat-icon>person_add</mat-icon>&nbsp;<span>Permissions</span>
          </mat-list-item> -->
          <mat-list-item [routerLink]="['/admin/profil']" routerLinkActive="router-link-active">
            <mat-icon>control_point_duplicate</mat-icon>&nbsp;<span>Profils</span>
          </mat-list-item>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="session.isAdmin" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Paramétrage
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item [routerLink]="['/admin/direction']" routerLinkActive="router-link-active">
            <mat-icon>work</mat-icon>&nbsp;<span>Directions</span>
          </mat-list-item>

          <mat-list-item [routerLink]="['/admin/region']" routerLinkActive="router-link-active">
            <mat-icon>account_balance</mat-icon>&nbsp;<span>Regions</span>
          </mat-list-item>
          <mat-list-item [routerLink]="['/admin/province']" routerLinkActive="router-link-active">
            <mat-icon>business</mat-icon>&nbsp;<span>Provinces</span>
          </mat-list-item>

          <mat-list-item [routerLink]="['/admin/commune']" routerLinkActive="router-link-active">
            <mat-icon>business</mat-icon>&nbsp;<span>Communes</span>
          </mat-list-item>

          <!-- <mat-list-item [routerLink]="['/admin/typeprojet']" routerLinkActive="router-link-active">
            <mat-icon>question_answer</mat-icon>&nbsp;<span>Type projet</span>
          </mat-list-item> -->

        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>



    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>


    <!-- <div style="margin: 65px auto 15px;" class="mybreadcrumb">
        <div *ngFor="let s of patchRoute" class="items">
          <a [routerLink]="['/home/connection']">{{ s !== '-1' ? s : 'nauveau'}}</a><mat-icon>navigate_next</mat-icon>
        </div>
      </div> -->
    <main [@routerTransition]="getState(o)" style="margin: 65px 0 0 5px;">
      <router-outlet #o="outlet"></router-outlet>
    </main>

    <!-- <footer>
        <mat-toolbar class="mt-2 text" color="primary">
          <mat-toolbar-row style="height: 70px">
            <span style="margin-left: auto; margin-right: auto;"> © {{ d | date:"dd/MMMM/yyyy" }} - Yaasin MOURABIT</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>
